<a href="https://colab.research.google.com/github/chitreshkr/AI-Workshop/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#     **<font color='red'>pandas</font>**

 While pandas adopts many coding idioms from NumPy, the biggest difference is that pandas is designed for working with tabular or heterogeneous data. NumPy, by contrast, is best suited for working with homogeneous numerical array data.

In [0]:
import pandas as pd

Whenever you see pd in code, it’s referring to pandas. You may also find it easier to import Series and DataFrame into the local namespace since they are so frequently used:

In [0]:
from pandas import Series, DataFrame

#  Introduction to pandas Data Structures



> **Series**

A Series is a one-dimensional array-like object containing a sequence of values (of similar types to NumPy types) and an associated array of data labels, called its index.
Since we did not specify an index for the data, a default one consisting of the integers 0 through N - 1 (where N is the length of the data) is created.

In [0]:
x  = pd.Series([1,2,3,4])

In [6]:
x

0    1
1    2
2    3
3    4
dtype: int64

So the value of x will show us index number on the left ,the value of x on the right and the data type at the bottom of pandas series X

In [11]:
x.values

array([1, 2, 3, 4])

In [12]:
x.index

RangeIndex(start=0, stop=4, step=1)

In [0]:
x = pd.Series([1,2,3,4],index=['d','a','b','c'])

In [14]:
x

d    1
a    2
b    3
c    4
dtype: int64

In [15]:
x.dtype

dtype('int64')

In [16]:
x['d']

1

In [17]:
x['c']

4

In [19]:
x[['a','b','d']]

a    2
b    3
d    1
dtype: int64

In [20]:
x[x>2]

b    3
c    4
dtype: int64

In [21]:
x[2]*2

6

In [22]:
x ** 2

d     1
a     4
b     9
c    16
dtype: int64

In [23]:
np.exp(x)

d     2.718282
a     7.389056
b    20.085537
c    54.598150
dtype: float64

In [25]:
'b' in x

True

In [26]:
'f' in x

False

In [0]:
data = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [28]:
data

{'Ohio': 35000, 'Oregon': 16000, 'Texas': 71000, 'Utah': 5000}

In [0]:
y = pd.Series(data)

In [30]:
y

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

When you are only passing a dict, the index in the resulting Series will have the dict’s keys in sorted order. You can override this by passing the dict keys in the order you want them to appear in the resulting Series:

In [0]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [0]:
x = pd.Series(data,index=states)

In [34]:
x

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

The isnull and notnull functions in pandas should be used to detect missing data for missing values NA

In [36]:
pd.isnull(x)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [37]:
pd.notna(x)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [38]:
pd.notnull(x)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [0]:
x.name = 'population'

In [0]:
x.index.name = 'state'

In [41]:
x

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [0]:
x.index = ['Utah','Virginia','Georgia','Tennesse']
x.index.name = 'state'

In [45]:
x

state
Utah            NaN
Virginia    35000.0
Georgia     16000.0
Tennesse    71000.0
Name: population, dtype: float64